body{
    background-color: azure;
    padding: 20px;
}
.h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(153, 186, 214);
    color: rgb(3, 3, 161);
    padding: 10px;
    
}
.p{
    display: flex;
    text-align: center;
    color: rgb(134, 35, 35);
    background-color: rgb(235, 209, 177);
    padding: 5px;
}