@media (max-width: 992px) {
    .navbar{
        gap: 10px;
    }
    .cart-icon{
        border: none;
        height: 25px;
        padding: 0;
    }
    .cart-icon:hover{
        background-color: inherit;
    }
    .logo{
        width: 150px;
    }
    main {
        padding: 0 20px;
        gap: 70px;
    }
    .header{
        justify-content: center;
        gap: 80px;
        width: 100%;
    }
    .navbar-list{
        position: absolute;
        top: 105px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--azul);
        border: 2px solid var(--cyan);
        border-top: 0px;
        border-radius: 0px 0px 12px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        display: none;
    }
    .navbar-list a{
        font-size: 18px;
    }
    .menu-label{
        display: flex;
        order: 2;
        cursor: pointer;
    }
    .menu-label img,
    .cart-img img{
        min-width: 25px;
    }
    #menu-toggle:checked +.navbar-list{
        display: flex;
    }
    #hero{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .hero-container-izq{
        width: 100%;
        gap: 40px;
        
    }
    .hero-container-der{
        width: 100%;
        max-width: 900px;
        min-width: unset;
    }
    .hero-img{
        align-items: center;
    }
    .hero-img img{
        width: 400px;
        height: 300px;
        align-self: center;
    }
    .hero-h1{
        width: 100%;
        max-width: 900px;
        min-width: unset;
        font-size: 35px;
    }
    .hero-h3{
        width: 100%;
        max-width: 900px;
        min-width: unset;
    }

    #beneficios {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .beneficios-container{
        flex-direction: column;
        width: 100%;
        padding: 0px 30px;
        background-color: transparent;
        color: var(--blanco);
    }
    .beneficios-der,
    .beneficios-izq{
        width: 100%;
    }
    .beneficios-izq{
        display: none;
    }
    #productos,
    #contacto{
        text-align: center;
    }
    .productos-h2{
        width: 100%;
        justify-content: center;
    }
    .productos-cards{
        flex-wrap: wrap;
        width: 100%;
        justify-content:center;
        gap: 60px;
    }
    .productos-container{
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
    .card{
        width: 33%;
        min-width: 230px;
        max-height: 400px;
    }
    .card img{
        width: 150px;
        height: 165px;
    }
    .cards-vertodo{
        justify-content: center;
    }
    .cards-vertodo a{
        font-size: 18px;
    }
    .contacto-container{
        flex-direction: column;
        gap: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .contacto-forms input{
        max-width: 500px;
    }
    .contacto-forms label{
        align-self: flex-start;
    }
    .container-registro{
        flex-direction: column;
    }
    .registro-img{
        display: none;
    }
    #iniciarsesion{
        width: 100%;
    }
    .container-iniciarsesion{
        width: 100%;
        max-width: 900px;
        min-width: unset;
    }
    .registro-form input{
        max-width: 500px;
    }
    #telefono,
    #nacimiento{
        max-width: 300px;
    }
    .registro-form select{
        max-width: 300px;
    }
}
@media (max-width: 576px){
    .navbar{
        gap: 10px;
    }
    main {
        padding: 0 10px;
        gap: 50px;
    }
    .logo{
        width: 120px;
    }
    .hero-img{
        display: none;
    }
    #hero{
        width: 100%;
        padding: 0;
        gap: 0;
    }
    .hero-container-izq{
        gap: 50px;
    }
    .hero-h3{
        flex-wrap: wrap;
        width: 90%;
        max-width: unset;
        min-width: unset;
        font-size: 14px;
    }
    .hero-h1 {
        font-size: 25px;
        flex-wrap: wrap;
        width: 100%;
        max-width: unset;
        min-width: 450px;
    }
    .beneficios-h2,
    .beneficios-h3{
        display: none;
    }
    .boton1{
    padding: 23px 10px;
    border-radius: 5%;
    font-weight: 700;
    font-size: 15px;
    } 
    .boton2{
    padding: 15px 10px;
    border-radius: 5%;
    font-weight: 700;
    font-size: 15px;
    }
    .productos-h2 h2{
        text-align: center;
    }
    .card{
        width: 50%;
        min-width: 350px;
        max-height: 400px;
    }
    .card img{
        width: 250px;
        height: 245px;
    }
    .card-h3{
        font-size: 18px;
    }
    .card-descuento a{
        font-size: 30px;
    }
    #contacto{
        width: 100%;
    }
    .contacto-container{
        width: 100%;
        border-radius: 2%;
    }

    .contacto-forms input{
        width: 300px;
        max-width: inherit;
        min-width: unset;
    }
    .contacto-izq,
    .contacto-der{
        width: 100%;
        max-width: 400px;
        min-width: unset;
    }
    #info{
        width: 20px;
    }
    .iframe iframe{
        width: 400px;
        height: 250px; 
    }
    #footer{
        gap: 10px;
    }
    .logo-footer img{
        width: 50px;
        height: 50px;
    }
}